<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <unitTestProvider name="MsTest" />
  </specFlow>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <!--
        This is IMPORTANT!!!
        - The project reference to Microsoft.BizTalk.TOM.dll is set to "Copy Local False".
        - That is because the schema editor extensions DLL for FlatFileExtension is loaded dynamically
           based on the 'installationPath' + "\Developer Tools\Schema Editor Extensions"
           where the 'installationPath' is resolved as the Parent folder from where
           Microsoft.BizTalk.Tom.dll runs (which otherwise would resolve as the "bin" folder
           when executed from "bin/debug" - where all the references are normally copied to...)
        - So instead we have Microsoft.BizTalk.Tom.dll as Content in the Lib folder,
           along with the native EBizMUI.dll that it imports.
        - And we want .NET to automatically load assemblies from the Lib folder.
        - Hence we set the probing path.
      -->
      <probing privatePath="BizTalk"></probing>

      <dependentAssembly>
        <assemblyIdentity name="EnvDTE" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.3300.0" newVersion="8.0.0.0" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="Moq" publicKeyToken="69f491c39445e920" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1312.1319" newVersion="4.2.1312.1319" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>