<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ChannelAdam.Core" version="1.1.0" targetFramework="net40" />
  <package id="ChannelAdam.TestFramework" version="1.1.0" targetFramework="net40" />
  <package id="Moq" version="4.2.1402.2112" targetFramework="net45" />
  <package id="StyleCop.MSBuild" version="4.7.49.0" targetFramework="net45" developmentDependency="true" />
</packages>